.application-label {
    font-size: 16px;
    line-height: 1.4;
    vertical-align: middle;
    width: 100%;
}

li {
    list-style: none;
}

input {
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    height: 40px;
    padding: 4px 4px 4px 15px;
    line-height: 1.4;
    color: #515357;
    border-color: #e2e2e2;
    transition: 1px solid #e3e4e6 150ms, background 150ms;
    font: normal 400 16px/1.8 Lato;
}

.default-lable svg {
    font-weight: bold;
    margin-right: 8px;
}

input:focus,
input::selection,
input:active {
    outline: none;
    border: 1px solid #515357;
}

.application-label,
.application-field {
    margin: 17px 0px;
}

.required {
    display: inline-block;
    color: #ff794f;
    margin-left: 4px;
    font-size: 9px;
    padding-bottom: 0px;
    position: absolute;
}

.visible-resume .hidden-inp {
    opacity: 0;
    width: 230px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

.visible-resume {
    position: relative;
    margin-right: 15px;
    padding-left: 41px;
    text-decoration: none;
    background: #ebecf0;
    color: #9696a2 !important;
    border: 1px solid hsl(228, 8%, 88%);
    border-radius: 3px;
    padding: 10px 15px;
}

.visible-resume:hover {
    background-color: #d0d0db;
}

.custom-inp {
    padding-bottom: 20px;
    margin-top: 20px;
}

textarea {
    resize: vertical;
    width: 55vw;
    height: 130px;
    border: 1px solid hsl(229, 13%, 51%);
    border-radius: 3px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-top: 15px;
}

textarea:focus,
textarea::selection,
textarea:active {
    outline: none;
    border: 1px solid #515357;
}

.application-label .full-width {
    padding-left: 0;
    width: 55vw;
}

.application-label .text {
    vertical-align: bottom;
    width: 50vw;
}

.application-field span {
    line-height: 1.33;
    color: #9696a2;
    overflow: hidden;
    letter-spacing: 2px;
}

@media screen and (min-width: 800px) {
    .application-label {
        width: 210px;
    }
    .application-field {
        padding-left: 15px;
        width: 489px;
    }
    .application-label,
    .application-field {
        display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    label,
    input {
        width: 100%;
    }
    .textarea,
    textarea {
        padding-top: 10px;
        resize: vertical;
        width: 88vw;
        height: 130px;
    }
    .application-label .full-width {
        padding-left: 0;
        width: 88vw;
    }
    .full-width .text {
        padding-left: 0;
        width: 88vw;
    }
}