.form-section {
    width: 100vw;
    padding: 30px 30px;
}

.form-section h4 {
    margin: 30px 0;
    font: normal 700 16px/1.4 Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #515357;
}

.submit-btn-container {
    margin: 17.5px 0px;
    text-align: center;
    margin-bottom: 80px;
}

.submit-btn {
    border: none;
    background: #4f65f1;
    border-color: #4b60e5;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px 0;
}

.light-text {
    text-transform: none;
    padding-left: 5px;
    font: normal 400 16px/1.8 Lato;
}

.captcha {
    width: 304px;
    height: 78px;
    margin: 0 auto;
}